# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
*.pidb
*.suo
*.user
*.userprefs
*.unityproj
*.booproj
sysinfo.txt
*.apk
*.aab
*.unitypackage
*.app

# VS / Rider
.vs/
.idea/
*.csproj
*.sln
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db
